{{ $email := promptStringOnce . "email" "Git email address for the author/committer" -}}
{{ $name := promptStringOnce . "name" "Git username for the author/committer" -}}
{{ $pmode := promptBoolOnce . "pmode" "Use pmode" -}}
{{ $oagmode := promptBoolOnce . "oagmode" "Use oagmode" -}}
{{ $ptxmode := promptBoolOnce . "ptxmode" "Use ptxmode" -}}

{{- $wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    pmode = {{ $pmode }}
    oagmode = {{ $oagmode }}
    ptxmode = {{ $ptxmode }}
    wsl = {{ $wsl }}

[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
    command = "pwsh.exe"
    {{ if (or (.pmode) (.oagmode)) -}}
    args = ["-NoLogo", ".local/share/chezmoi/.chezmoihooks/install-password-manager-bw.ps1"]
    {{ end }}
    {{ if .ptxmode }}
    args = ["-NoLogo", ".local/share/chezmoi/.chezmoihooks/install-password-manager-op.ps1"]
    {{ end }}
{{- else }}
    {{ if .ptxmode -}}
    command = ".local/share/chezmoi/.chezmoihooks/install-password-manager-op.sh"
    {{ else }}
    command = ".local/share/chezmoi/.chezmoihooks/install-password-manager.sh"
    {{ end }}
{{- end }}
