{{- if (eq .chezmoi.os "linux" "darwin") }}
# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# git shortcuts
alias gs='git status'
alias ga='git add .'
alias gc='git commit'
alias gp='git push'

{{- if eq .wsl true }}
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{- end }}

{{- if (or (eq .pmode true) (eq .oagmode true)) }}
# bitwarden 
function bwu {
    BW_STATUS=$(bw status | jq -r .status)
    case "$BW_STATUS" in
    "unauthenticated")
        echo "Logging into BitWarden"
        export BW_SESSION=$(bw login --raw)
        ;;
    "locked")
        echo "Unlocking Vault"
        export BW_SESSION=$(bw unlock --raw)
        ;;
    "unlocked")
        echo "Vault is unlocked"
        ;;
    *)
        echo "Unknown Login Status: $BW_STATUS"
        return 1
        ;;
    esac
    bw sync
}
{{- end }}

# chezmoi
function cz() (
  {{ if (or (eq .pmode true) (eq .oagmode true)) }}
  export BW_SESSION=$(bw unlock --raw)
  {{ end }}
  command chezmoi "$@"
)

{{ if (and (eq .chezmoi.os "darwin") (eq .oagmode true)) }}
# macos privileges
alias privileges="/Applications/Privileges.app/Contents/Resources/PrivilegesCLI"
alias sudo="privileges --add 2>/dev/null;sudo"
{{- end }}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "pop")) }}
# vscode
function code() {
  (flatpak run com.visualstudio.code $*)
}
{{- end }}

# network utilities
function pubip {
    curl -s http://ifconfig.me/ip -w "\n"
}

# system utilities
function reload-profile {
    . ~/.bashrc
}

alias rp='reload-profile'

{{- end }}