[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if eq .chezmoi.os "windows" }}
{{- if eq .oagmode true }}
[http]
    sslcainfo = ~/AppData/Roaming/custom-ca-bundle.pem
{{- end }}
[core]
    filemode = false
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
