{{- if eq .chezmoi.os "windows" }}
# https://ohmyposh.dev/docs/faq#my-prompt-is-broken-after-upgrading-to-powershell-74
[Console]::OutputEncoding = [Text.Encoding]::UTF8

# default command to load oh-my-posh including default theme
# oh-my-posh init pwsh | Invoke-Expression

oh-my-posh init pwsh --config $env:POSH_THEMES_PATH\night-owl.omp.json | Invoke-Expression

# load powershell modules
$modules = "posh-git", "Terminal-Icons", "PsReadLine"

foreach ($module in $modules) {
    if (-not (Get-Module -ListAvailable -Name $module)) {
        Install-Module -Name $module -Scope CurrentUser -Force -SkipPublisherCheck
    }
    Import-Module -Name $module
}

# PSReadLine config
. "$env:USERPROFILE/Scripts/PowerShell/psreadline.ps1"

# Githelpers
. "$env:USERPROFILE/Scripts/PowerShell/githelpers.ps1"

# Linux like commands for Windows
. "$env:USERPROFILE/Scripts/PowerShell/linuxlike.ps1"

# Utils
. "$env:USERPROFILE/Scripts/PowerShell/utils.ps1"

{{- end }}