{{- if eq .pmode true }}
{{ (index (bitwardenFields "item" "chezmoi") "pmode-github-ssh-pub").value }}
{{- else if eq .oagmode true }}
{{ (index (bitwardenFields "item" "chezmoi") "oagmode-github-ssh-pub").value }}
{{- end }}
