Host github.com
  User git
  Port 22
  PreferredAuthentications publickey
  {{- if eq .chezmoi.os "darwin" }}
  {{- if (or (eq .pmode true) (eq .oagmode true)) }}
  IdentityFile ~/.ssh/id_rsa.pub
  IdentityAgent ~/.bitwarden-ssh-agent.sock
  {{- end }}
  {{- end }}
{{- if eq .oagmode true }}
Host github-oag.com
  HostName github.com
  User git
  Port 22
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/ed25519.pub
  IdentityAgent ~/.bitwarden-ssh-agent.sock
{{- end }}

  {{- if eq .ptxmode true }}
  # SSH over Session Manager
 host i-* mi-*
     User ec2-user
     ProxyCommand bash -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
 {{- end }}