{{ if eq .chezmoi.os "windows" -}}
{{ if (or (eq .pmode true) (eq .oagmode true)) }}
# BW_CLIENTID and BW_CLIENTSECRET are set in .chezmoi.toml.tmpl
bw login --apikey
$env:BW_SESSION = bw unlock --raw
{{ end }}
{{ end -}}