{{- if (eq .chezmoi.os "windows" "darwin") -}}
{{- if (or (eq .pmode true) (eq .oagmode true)) }}
function cz {
    $env:BW_SESSION = $(bw unlock --raw) 
    chezmoi $args
}
{{- else if eq .ptxmode true }}
function cz {
    chezmoi $args
}
{{- end }}
{{- end }}