{{- if (and (eq .chezmoi.os "linux") (or .pmode .oagmode)) -}}
[Context]
sockets=!ssh-auth
filesystems=~/.var/app/com.bitwarden.desktop/data;host-os

[Environment]
GIT_SSH_COMMAND=/usr/bin/ssh
PATH=/run/host/usr/bin:/app/bin:/usr/bin
SSH_AUTH_SOCK={{ .chezmoi.homeDir }}/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock
{{- end }}
