{{ if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/sh

code="flatpak run com.visualstudio.code"

echo "[-] Updating packages [-]"

{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "almalinux" }}
{{ range .packages.linux.dnfs -}}
sudo dnf install -y {{ . | quote }}
{{ end -}}
{{ end -}}
{{- if (eq .chezmoi.osRelease.id "debian" "ubuntu" "pop") }}
echo "[-] Updating Apt packages [-]"
sudo apt update
{{ range .packages.linux.apts -}}
sudo apt install -y {{ . | quote }}
{{ end -}}
{{ end -}}
{{- if eq .chezmoi.osRelease.id "pop" }}
{{ range .extensions.linux.vscode }}
$code --force --install-extension {{ . | quote }}
{{ end }}
{{ end -}}
{{ end }}

{{- if eq .chezmoi.osRelease.id "pop" }}
{{ range .packages.linux.flatpak -}}
flatpak install -y {{ . | quote }}
{{ end -}}
{{ end }}

{{- if eq .chezmoi.os "darwin" }}
echo "[-] Updating brews [-]"
{{ range .packages.darwin.brews -}}
brew install  {{ . | quote }}
{{ end -}}
{{ range .extensions.darwin.vscode }}
code --force --install-extension {{ . | quote }}
{{ end }}
{{ end -}}
{{ end -}}