{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if [ ! "$(command -v brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

echo "[-] Updating packages [-]"

{{- if eq .chezmoi.os "darwin" }}
echo "[-] Updating brews [-]"
{{ range .packages.darwin.brews -}}
brew install  {{ . | quote }}
{{ end -}}
{{ range .extensions.darwin.vscode }}
code --force --install-extension {{ . | quote }}
{{ end }}
{{ end -}}
{{ end -}}