{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if [ ! "$(command -v brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

echo "[-] Updating packages [-]"

echo "[-] Installing brews [-]"
{{ range .packages.darwin.brews -}}
brew install {{ . | quote }}
{{ end -}}

echo "[-] Installing casks [-]"
{{ range .packages.darwin.casks -}}
brew install --cask {{ . | quote }}
{{ end -}}

echo "[-] Installing VS Code extensions [-]"
{{ range .extensions.darwin.vscode -}}
if ! code --list-extensions | grep -qF {{ . | quote }}; then
    echo "Installing extension {{ . }}..."
    code --force --install-extension {{ . | quote }}
else
    echo "Extension already installed: {{ . }}"
fi
{{ end -}}
{{ end -}}